proxy_port = 1161
v3_user = proxyuser
v3_auth_pass = authpassword
v3_priv_pass = privpassword
v3_auth_proto = SHA
v3_priv_proto = AES
v3_engine_id = 
v3_engine_boots = 1
agent_address = 127.0.0.1:161
agent_community = public
